# Generated for Fedora 43 Server - Default Automated Install

# Use graphical install or text mode
text

# Localization
keyboard us
lang en_US.UTF-8

# Network information (DHCP by default)
network  --bootproto=dhcp --device=link --activate
network  --hostname=fedora

# System Services
services --enabled="chronyd,sshd"

# System timezone
timezone Asia/Ho_Chi_Minh

# Bootloader configuration
bootloader

# Partitioning: Clear all partitions and use autopart
zerombr
clearpart --all --initlabel
part biosboot	--fstype=biosboot --size=1 --ondisk=@@@DISK@@@
part /boot/efi	--fstype=fat32 --size=512 --ondisk=@@@DISK@@@
part swap		--fstype=swap --size=8192 --ondisk=@@@DISK@@@

part btrfs.01	--size=10240 --grow --ondisk=@@@DISK@@@
btrfs none		--label=fedora btrfs.01
btrfs /home		--subvol --name=home fedora
btrfs /			--subvol --name=root fedora

rootpw @@@ROOT_PASSWD@@@
group --name=@@@USER@@@ --gid=1000
user --name=@@@USER@@@ --homedir=/home/@@@USER@@@ --password=@@@USER_PASSWD@@@ --gid=1000 --groups=wheel

# Repository Information
# url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-43&arch=$basearch"

# Post-installation script (Optional)
%post --nochroot --log=/mnt/sysimage/root/ks-post-noch.log
  dest_bin=/mnt/sysimage/opt/bin
  dest_hyprland=/mnt/sysimage/opt/dots-hyprland
  dest_zsh_plugins=/mnt/sysimage/opt/zsh-plugins
  dest_nvim=/mnt/sysimage/opt/dots-nvim

  # Move scripts into the installed OS' storage
  mkdir -p $(dirname "$dest_bin")
  mkdir -p $(dirname "$dest_hyprland")
  mkdir -p $(dirname "$dest_zsh_plugins")
  mkdir -p $(dirname "$dest_nvim")

  cp -r /run/install/repo/bin "$dest_bin"
  cp -r /run/install/repo/dots-hyprland "$dest_hyprland"
  cp -r /run/install/repo/zsh-plugins "$dest_zsh_plugins"
  cp -r /run/install/repo/dots-nvim "$dest_nvim"

  chmod +x "$dest_bin"/* "$dest_hyprland"/* "$dest_zsh_plugins"/**/*.zsh
%end

%post --log=/root/ks-post.log
  # Update system immediately after install
  /opt/bin/post_install.sh @@@USER@@@

%end

# Reboot after installation
reboot --eject                     # After %post. Eject CD.

# Package Selection
%packages
