# Generated for Fedora 43 Server - Default Automated Install

# Use graphical install or text mode
text

# Localization
keyboard us
lang en_US.UTF-8

# Network information (DHCP by default)
network  --bootproto=dhcp --device=link --activate
network  --hostname=fedora

# Root password (Change 'password' to something secure!)
rootpw --plaintext password

# System Services
services --enabled="chronyd,sshd"

# System timezone
timezone Asia/Ho_Chi_Minh

# Bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Partitioning: Clear all partitions and use autopart
zerombr
clearpart --all --initlabel
part biosboot	--size=1 --ondisk=vda
part /boot		--fstype=ext4 --size=1024 --ondisk=vda
part swap		--fstype=swap --size=8192 --ondisk=vda

part btrfs.01	--size=10240 --grow --ondisk=vda
btrfs none		--label=fedora btrfs.01
btrfs /home		--subvol --name=home fedora
btrfs /			--subvol --name=root fedora
# autopart --type btrfs --encrypted --passphrase $6$U8dHWohBu88EVeY7$UVDRBNv/IvVU0T0cpauONMODoTxR69o0dt0VVJYGSsVZ3PisUPMCuUGsNAvHcrGfgq5HyPac/vnpDlnCF.2fi0

rootpw --iscrypted @@@ROOT_PASSWD@@@
user --name ptdat --homedir /home/ptdat --iscrypted --password @@@USER_PASSWD@@@ --groups ptdat,wheel

# Repository Information
# url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-43&arch=$basearch"

# Post-installation script (Optional)
%post --nochroot
# Move scripts into the installed OS' storage
if [[ ! -e /mnt/sysimage/tmp/bin ]]; then
	cp -r /bin /mnt/sysimage/tmp/bin
	chmod +x /mnt/sysimage/tmp/bin/*
fi
%end

%post
# Update system immediately after install
/tmp/bin/post_install.sh

%end

# Reboot after installation
reboot --eject                     # After %post. Eject CD.

# Package Selection
%packages
